{% extends '../layout.html'%} {% block mainbody %}
<div class="container margin_top50 margin_bottom50">
	<div class="row">
		<div class="col-md-12">
            <div class="blog-list" id="articleList">
            </div>
            <nav aria-label="Page navigation" id="page">
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    {% autoescape false%}
					   {%for item in num%}
					   		{{item}}
					   {%endfor%}
				{% endautoescape %}
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
		</nav>
		</div>
	</div>
</div>
{% endblock %} {% block jsblock %}
<script src="/static/js/plugin/moment2.10.6.js" type="text/javascript"></script>
<script src="/static/js/page/articleList.js" type="text/javascript"></script>
{% endblock %}
